<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello <%='hello'.toUpperCase() %></h1>
    <!-- embedd JavaScript in HTML <%=  %> -->
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi libero fugiat aspernatur aliquam aut quo asperiores eligendi. Sunt, mollitia facere, quisquam nihil illum enim voluptatum beatae aliquam quis eligendi accusantium. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur facere debitis, iste reiciendis deserunt eaque eius veniam provident error laborum, vitae aspernatur optio dicta consequatur impedit fugit blanditiis illo tempora.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis itaque doloribus tempora dolor hic commodi laudantium placeat fuga dolorum, quos enim debitis libero aperiam repellat nihil sequi, ullam magni expedita?</p>
</body>
</html>